/* .content::-webkit-scrollbar {
  display: none;
} */
.header {
  height: 10dvh;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  display: flex;
}
.content {
  background: #ffffff;
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
  border: black solid 1px;
}

.image img {
  border-radius: 30px;
}

@supports (animation-timeline: view()) {
  .scaleAbout {
    animation-timeline: view(80% 5%);
  }
  .my_logo {
    animation-timeline: view(20% 70%);
  }

  .my_logo {
    animation-timeline: view(10% 80%);
  }
  .my_title {
    animation-timeline: view(10% 80%);
  }

  .my_tech {
    animation-timeline: view(20% 50%);
  }

  .language_logo {
    animation-timeline: view(20% 50%);
  }
   

  .fadeInOut {
    animation-timeline: view(20% 50%);
  } 
}

/* @keyframes fadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.home {
  border: black 1px solid;
}
.about {
  border: black 1px solid;
}
.projects {
  border: black 1px solid;
}
.contacts {
  border: black 1px solid;
}

/* @media screen and (min-width: 1080px) {
  .my_logo.leavingRight {
    animation: autoHideAnimationRight both;
    animation-timeline: view(20% 70%);
  }
} */

/* 
@supports not (animation-timeline: view()) {
  Fallback for browsers that don't support scroll-driven animations
  .scaleAbout {
    opacity: 0;
    transform: scale(0.3);
    transition: opacity 0.5s, transform 0.5s;
  }

  .scaleAbout.visible {
    opacity: 1;
    transform: scale(1);
  }
} */

@keyframes movingShadow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-shadow {
  background: linear-gradient(
    45deg,
    #989898,
    #616161,
    #5e5a54,
    #745f54,
    #45392c
  );
  background-size: 300% 300%;
  animation: movingShadow 10s ease infinite;

  transition: all 0.3s ease;
}

.group:hover .animated-shadow {
  filter: blur(20px);
  opacity: 0.9;
}

/* .glassmorphism {
  -webkit-backdrop-filter: blur(16px);
  background-color: transparent;
  backdrop-filter: blur(16px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.32),
    rgba(0, 0, 0, 0.2)
  );
} */
