<div class="content h-full text-gray-800 bg-slate-50">
  <div class="header shadow-sm flex justify-between items-center px-12 bg-slate-50">
    <div>
      <h1 class="text-lg font-bold">Alro.dev</h1>
    </div>
    <div class="flex gap-6 font-medium">
      <div class="cursor-pointer">Home</div>
      <div class="cursor-pointer"><a href="#about">About</a></div>
      <div class="cursor-pointer">Projects</div>
      <div class="cursor-pointer">Contact</div>
    </div>
  </div>
  <div class="hero-section flex flex-col gap-8 justify-center items-center">
    <!-- Content -->
    <div class="flex justify-center items-center gap-x-12 pb-20">
      <div class="flex flex-col gap-y-6">
        <p class="text-5xl font-extrabold">Full Stack Web <br> Developer</p>
        <p class="text-lg font-medium">Hi, {{myName}}. A Front-end Angular <br> Developer
          based in <span class="location">Philippines.
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512">
              <path fill="#d5dee4"
                d="M256 504.575c-13.382 0-18.231-10.848-18.231-24.23l-6-323.28c0-13.382 10.848-24.23 24.23-24.23s24.23 10.848 24.23 24.23l-6 323.28c.001 13.382-4.847 24.23-18.229 24.23" />
              <path fill="#bccbd3"
                d="M256 132.834c-13.382 0-24.23 10.848-24.23 24.23l1.752 94.386C240.745 253.119 248.27 254 256 254s15.255-.881 22.479-2.549l1.752-94.386c-.001-13.382-10.849-24.231-24.231-24.231" />
              <circle cx="256" cy="112" r="111" fill="#ff473e" />
              <ellipse cx="194.399" cy="60.749" fill="#fd7085" rx="19.076" ry="32.428"
                transform="rotate(33.488 194.39 60.752)" />
            </svg>
          </span>
        </p>
        <div class="flex gap-4">
          <img src="assets/logos/github.png" class="h-7 w-7" alt="">
          <img src="assets/logos/gmail.png" class="h-6 w-6" alt="">
        </div>
      </div>
      <div class=" rounded-full shadow-2xl">
        <img src="assets/images/me.jpg" class="h-64 w-64 rounded-full" alt="Alro John T. Mercado">
      </div>
    </div>
    <!-- Make this aligned with the  -->
    <div class=" flex justify-center items-center gap-4">
      <h1 class="text-xl font-semibold">Tech Stack</h1>
      <div class="border-[1.3px] border-black h-6 "></div>
      <div class="flex gap-4 pl-12">
        @for (logo of language_logo; track $index) {
          <img src="{{logo}}" alt="logos" class="h-10 w-10">
        }
      </div>
    </div>
  </div>

  <div class="body h-full w-full border-4 border-blue-500" id="about">
    <div>Old</div>
  </div>
  <div class="body w-full border-4 border-green-500">
    <div>New</div>
  </div>
  <div class="footer w-full border-4 border-indigo-500">
    <div>footer</div>
  </div>

</div>