*{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.content::-webkit-scrollbar{
    display: none;
}
.content{
    scroll-behavior: smooth;
}
.header{
    height: calc(100dvh - 90dvh);
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255); /* Ensure background color so content does not show through */
    z-index: 1000;
}
.hero-section{
    height: calc(100dvh - 10dvh);
}
.body{
    height: calc(100dvh - 10dvh);
}
.footer{
    height: 40dvh;
}

.location {
    display: inline-flex;
    align-items: center;
}

.location svg {
    margin-left: 0.5em; /* Adjust the margin as needed */
}
