*{
    font-family: Arial, Helvetica, sans-serif;
}
.content::-webkit-scrollbar{
    display: none;
}
.header{ 
    height: calc(100dvh - 90dvh);
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255); /* Ensure background color so content does not show through */
    z-index: 1000;
}
@media screen and (max-width: 768px) {
    .hero-section{
        height: fit-content;
    }
}

.body {
    height: calc(100vh - 10vh); /* Adjust height as per your requirement */
    overflow: hidden; /* Prevent overflow within sections */
    scroll-snap-align: start; /* Enable scroll snap alignment */
  }
  
.footer{
    height: 40dvh;
}

.location {
    display: inline-flex;
    align-items: center;
}

.location svg {
    margin-left: 0.5em; /* Adjust the margin as needed */
}

/* your-component.component.css */
.body {
    height: calc(100vh - 10vh);
    overflow: hidden;
    scroll-snap-align: start;
  }
  .glassmorphism {
    
    background-color: transparent;
    backdrop-filter: blur(16px);
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.32),
        rgba(0, 0, 0, 0.2)
    );
  }